html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

img {
  vertical-align: bottom; }

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

*:focus {
  outline: none; }

a:focus, button:focus, .inp-check__input:focus + .inp-check__label::before, input:focus {
  outline-color: #8bf;
  outline-style: solid;
  outline-width: 2px;
  outline-offset: 1px; }

input::-webkit-input-placeholder {
  color: #888; }

input:-ms-input-placeholder {
  color: #888; }

input::-ms-input-placeholder {
  color: #888; }

input::placeholder {
  color: #888; }

html,
body {
  font-family: Arial, sans-serif;
  font-size: 13px;
  color: #666; }

a {
  text-decoration: none; }

img, svg {
  max-width: 100%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-user-drag: none;
  user-drag: none;
  display: block; }

.btn {
  color: #444;
  border: 0;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  font-size: 12px; }
  .btn:active {
    background-color: #e5e5e5;
    border-radius: 3px; }
  .btn__text {
    padding: 0 8px; }
  .btn:hover .btn__text, .btn:focus .btn__text {
    text-decoration: underline; }
  .btn_add {
    fill: #4A90E2;
    color: #4a90e2;
    text-transform: uppercase;
    font-weight: bold; }
  .btn_add:active {
    background-color: transparent;
    fill: #3b72b3;
    color: #3b72b3; }
  .btn_send {
    color: #fff;
    padding: 8px 38px;
    background: -webkit-gradient(linear, left bottom, left top, from(#f72), to(#f90));
    background: linear-gradient(to top, #f72, #f90);
    border: 1px solid #fd7722;
    border-radius: 3px;
    font-weight: bold; }
  .btn_send:hover {
    background: -webkit-gradient(linear, left bottom, left top, from(#f72), to(#fa0));
    background: linear-gradient(to top, #f72, #fa0); }
  .btn_send:active {
    background: -webkit-gradient(linear, left bottom, left top, from(#f90), to(#f72));
    background: linear-gradient(to top, #f90, #f72); }
  .btn_sort {
    font-size: 13px; }
  .btn_window {
    position: absolute;
    right: 0;
    bottom: calc(100% + 8px); }
  .btn_window:active {
    background-color: transparent; }
  .btn_contact {
    fill: #aaa;
    padding: 8px 3px; }
  .btn_contact:active {
    fill: #444; }
  .btn_full-width {
    width: 100%;
    text-align: left; }

.popup {
  overflow-y: scroll; }
  .popup__background {
    position: fixed;
    z-index: 9998;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.4); }
  .popup__wrapper {
    position: absolute;
    z-index: 9999;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    max-width: 800px;
    width: 100%; }

.window {
  background-color: #fff;
  border-radius: 3px;
  -webkit-box-shadow: 0 2px 13px 0 rgba(68, 68, 68, 0.5);
          box-shadow: 0 2px 13px 0 rgba(68, 68, 68, 0.5); }
  .window__content {
    -webkit-box-flex: 2.7142;
        -ms-flex-positive: 2.7142;
            flex-grow: 2.7142;
    -ms-flex-preferred-size: 0;
        flex-basis: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    overflow: hidden; }
  .window__toolbar {
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    padding: 10px 20px;
    padding-left: 40px; }
  .window__toolbar-icon {
    padding: 2px;
    margin: 0 12px; }
  .window__contacts {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    -ms-flex-preferred-size: 330px;
        flex-basis: 330px;
    max-height: 330px;
    overflow-y: scroll;
    padding: 5px 20px 0; }
  .window__header, .window__footer {
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    padding: 20px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .window__footer {
    padding: 12px 20px; }

.flex-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap; }
  .flex-block_vertical-center {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }

.sidebar {
  background-color: #f5f5f5;
  padding: 10px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-preferred-size: 0;
      flex-basis: 0; }
  .sidebar__elem {
    margin-bottom: 8px; }
  .sidebar__list {
    margin-bottom: 20px; }
  .sidebar__item {
    color: #444;
    display: block;
    padding: 10px 20px;
    border-radius: 2px; }
    .sidebar__item:hover, .sidebar__item:focus {
      -webkit-box-shadow: inset 0 0 0 2px #e5e5e5;
              box-shadow: inset 0 0 0 2px #e5e5e5; }
    .sidebar__item_active {
      font-weight: bold;
      background-color: #e5e5e5; }

.caption {
  color: #888;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
  padding: 10px; }

.search {
  position: relative; }
  .search__input {
    margin: 0;
    padding: 8px 8px 8px 34px;
    border-radius: 3px;
    border: solid 1px #cccccc;
    font-size: 14px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearence: none;
    width: 190px;
    height: 30px; }
  .search__icon {
    display: block;
    width: 16px;
    height: 16px;
    position: absolute;
    left: 12px;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%); }

.inp-check {
  margin-right: 10px;
  display: block;
  min-width: 16px;
  height: 16px; }
  .inp-check__label {
    position: relative;
    cursor: pointer;
    display: block;
    width: 16px;
    height: 16px; }
  .inp-check__label::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 16px;
    height: 16px;
    background-image: url("../images/rect.svg"); }
  .inp-check__input:checked + .inp-check__label::before {
    background-image: url("../images/rectwithtick.svg"); }
  .inp-check__label_half::before {
    background-image: url("../images/rectwithline.svg"); }
  .inp-check__input {
    position: absolute;
    left: -9999px;
    tabindex: -1;
    pointer-events: none; }

.sort {
  margin-left: 10px;
  color: #444; }
  .sort__text {
    font-weight: bold; }

.icon_dark {
  fill: #444; }

.icon_light {
  fill: #ccc; }

.vertical-line {
  position: relative; }

.vertical-line::after {
  content: '';
  display: block;
  width: 1px;
  height: 20px;
  background-color: #d8d8d8;
  margin: 0 5px 0 20px; }

.dropdown {
  position: relative; }
  .dropdown__window {
    display: none;
    position: absolute;
    top: 0;
    right: -13px;
    border-radius: 3px;
    -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    border: solid 1px #cccccc;
    width: 180px;
    z-index: 9999; }
  .dropdown__item {
    padding: 8px 10px;
    color: #444; }
  .dropdown__item-img {
    -ms-flex-preferred-size: 16px;
        flex-basis: 16px; }
  .dropdown__item-img svg {
    margin: 0 auto; }
  .dropdown__item-text {
    padding-left: 10px;
    -webkit-box-flex: 8;
        -ms-flex-positive: 8;
            flex-grow: 8;
    -ms-flex-preferred-size: 100px;
        flex-basis: 100px; }
  .dropdown__item:hover, .dropdown__item:focus {
    background-color: #fafafa; }
  .dropdown__item:active {
    background-color: #f0f0f0; }

.contact {
  padding: 10px 20px;
  height: 54px;
  position: relative;
  border-bottom: 1px solid #d8d8d8; }
  .contact:last-child {
    border-bottom: 0; }
  .contact__checkbox {
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    -ms-flex-preferred-size: 26px;
        flex-basis: 26px; }
  .contact__image {
    border-radius: 50px;
    margin: 0 10px;
    overflow: hidden;
    -ms-flex-preferred-size: 34px;
        flex-basis: 34px; }
  .contact__name {
    font-weight: bold;
    margin-right: 20px;
    line-height: 1;
    color: #444;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -ms-flex-preferred-size: 100px;
        flex-basis: 100px; }
  .contact__mail {
    -webkit-box-flex: 2;
        -ms-flex-positive: 2;
            flex-grow: 2;
    -ms-flex-preferred-size: 200px;
        flex-basis: 200px;
    margin-right: 20px;
    max-width: 225px;
    overflow: hidden;
    padding-bottom: 3px; }
  .contact__mail-text {
    color: #666;
    line-height: 1; }
  .contact__mail-text:hover {
    text-decoration: underline; }
  .contact__draganddrop {
    position: absolute;
    display: none;
    left: 4px;
    bottom: 4px;
    cursor: -webkit-grab;
    cursor: grab;
    fill: #979797; }
  .contact__draganddrop:active {
    cursor: -webkit-grabbing;
    cursor: grabbing; }
  .contact_active {
    background-color: #fff9ef;
    -webkit-box-shadow: 0 0 0 1px #ffa726;
            box-shadow: 0 0 0 1px #ffa726;
    border-bottom: 0; }
  .contact_active > .contact__draganddrop, .contact_active .dropdown__window {
    display: block; }
  .contact_active .btn.btn_contact {
    fill: #444; }

.zebra:nth-child(2n) {
  background-color: #fafafa; }

._hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0; }
