//- This file contains some basic settings
//- to be included in layouts

//- path to favicon
- var favicon = 'img/favicon.png'

//- close website for indexing?
- var noindex = true

//- choose if website is responsive
- var responsive = true

//- website language
- var lang = 'en'
